@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.idea-user{
    font-family: "Poppins", sans-serif;
}

.idea-user p, .idea-user span, .idea-user a{
    margin: 0;
    text-shadow: unset;
    text-decoration: none;
}

.idea-user>.container{
    box-shadow: unset;
    border-radius: unset;
}

.idea-user a{
    text-decoration: none;
}

.idea-user .col-lg-6{
    padding: 6px;
}

.idea-user .inside-box-idea{
    z-index: 0;
}

.idea-user .inside-box-idea .img-idea{
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.idea-user .inside-box-idea>.idea-info{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 25px;
    background-color: rgba(34, 34, 34, 0.34);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.idea-user .inside-box-idea:hover .idea-info{
    z-index: 0;
    opacity: 1;
}

.idea-user .idea-infor-user .button-survey{
    text-decoration: none;
    color: white;
    background-color: #757575;
    padding: 18px 15px 18px 15px ;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.idea-user .idea-infor-user>.title h3{
    font-size: 17px;
    font-weight: 900;
    color: white;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.idea-user .idea-infor-user>.title h1{
    font-size: 29px;
    font-weight: 900;
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.idea-user .idea-infor-user p{
    font-size: 17px;
    font-weight: normal;
    color: white;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.idea-user .user-info-of-idea > a > .img-ava-user {
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 10px;
}

.idea-user .user-info-of-idea > a > span {
    font-size: 18px;
    margin-left: 15px !important;
    color: white;
}


.idea-user .img-ava-user>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.idea-user .line-between{
    width: 4px;
    height: 58.5px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: white;
    border-radius: 2px;
}

.idea-user .the-number span{
    margin: 0;
}

.idea-user .the-number>.quantity, .the-number>.award{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 600;
}

@media (min-width: 575px) and (max-width: 991px){

    .idea-user>.container{
        max-width: unset;
    }
}

@media (max-width: 991px) {
    .idea-user .col-lg-6{
        padding: unset;
        margin-bottom: 12px;
    }
}


